<books-scape-layout [showShopping]="false" [showBookshelf]="true">
  <div class="books-page">
    <header>
      <div class="search-wrapper">

        <dom-form-search
          [control]="searchControl"
          [initialValue]="initialValue()"
          (valueChanged)="onValueChanged($event)"
        ></dom-form-search>
        
      </div>
    </header>

    <main class="books-wrapper">
      @for (book of books(); track book.id) { @defer {

      <div class="book-card-wrapper">
        <books-scape-book-card
          [book]="book"
          (addSelected)="onAddToShelf($event)"
          (infoSelected)="onInfo($event)"
        ></books-scape-book-card>
      </div>
      } }
    </main>
  </div>
</books-scape-layout>
