<books-scape-layout [showNavigation]="true">
  <div class="table-wrapper h-full w-full">
    <article class="w-full h-full flex justify-center items-center">
      <dom-table
        #table
        class="w-1/2"
        [idKey]="'position'"
        [dataSource]="data()"
        [columns]="columns"
        [editRow]="true"
        [rowModesModel]="rowModesModel()"
      >
        <ng-template domTableActionCell let-element>
          <!-- <books-scape-table-actions
            [(rowModesModel)]="rowModesModel"
            [element]="element"
          ></books-scape-table-actions> -->
        </ng-template>

        <ng-template domTableFormCell let-element>
          <dom-table-form-cell></dom-table-form-cell>
        </ng-template>
      </dom-table>
    </article>
    
  </div>
</books-scape-layout>
