<books-scape-layout [showNavigation]="true">
  <header class="p-4 flex justify-center">
    <form class="flex flex-row gap-4" [formGroup]="booksAutocomplete">
      @for (key of booKeys(); track $index) {

      <section class="w-80">
        <mat-form-field class="w-full" appearance="outline">
          <input
            type="text"
            matInput
            [formControlName]="key"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            autoActiveFirstOption
            [displayWith]="displayWith"
          >
            @for (option of optionsMap()[key]; track $index) {

            <mat-option [value]="option">{{
              option.title | titlecase
            }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </section>

      }
    </form>
  </header>

  <header class="p-4">
    <form class="flex flex-row gap-4" [formGroup]="booksAutocomplete">
      @for (key of booKeys(); track $index) {
      <section class="w-80">
        <dom-form-autocomplete
          [control]="booksAutocomplete.controls[key]"
          [options]="optionsMap()[key]"
          [displayWith]="displayWith"
          [displayOptionLabelWith]="displayWith"
          [displayOptionDisableWith]="displayOptionDisableWith"
          (queryChanged)="onQueryChanged($event, key)"
        ></dom-form-autocomplete>
      </section>
      }
    </form>
  </header>

  <header class="p-4">
    <form class="flex flex-row gap-4" [formGroup]="booksAutocomplete">
      @for (key of booKeys(); track $index) {
      <section class="w-80">
        <mat-form-field class="w-full" appearance="outline">
          <mat-select multiple>
            <section class="flex justify-center">
              <mat-form-field class="w-11/12" appearance="outline">
                <input type="text" [formControlName]="key" matInput />
              </mat-form-field>
            </section>
            <section class="select-options-wrapper">
              @for (option of optionsMap()[key]; track $index) {
              <mat-option>{{ option.title | titlecase }}</mat-option>
              }
            </section>
          </mat-select>
          <mat-icon matSuffix fontIcon="expand_more"></mat-icon>
        </mat-form-field>
      </section>
      }
    </form>
  </header>
</books-scape-layout>
