.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {

  position: sticky;
  justify-content: center;
  top: 0;
  z-index: 1;
  gap: 16px;

  div.toolbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-size: 22px;

    mat-nav-list {
      display: flex;
      gap: 16px;

      span {
        cursor: pointer;
      }
    }

    button.bookshelf-btn {
      mat-icon {
        scale: 1.2;
      }
    }

    button.shopping {
      letter-spacing: 1.5px;
      font-size: 14px;
    }

    span.brand {
      font-size: xx-large;
    }

    span.spacer {
      flex-grow: 0.97;
    }

    span.badge {
      font-size: 16px;
    }
  }
}
