<books-scape-layout [showNavigation]="false">
  <div class="bookshelf-page-wrapper">
    <header class="flex justify-center items-center h-1/6">
      <h1>{{ 'bookshelf' | titlecase }}</h1>
    </header>
    <main class="bookshelf-container-wrapper">
      @for (book of bookshelf(); track book) {
      <section class="bookshelf-card-wrapper" @fade>
        <books-scape-bookshelf-card
          [book]="book"
          (clearFromShelf)="onRemoveFromShelf($event)"
        ></books-scape-bookshelf-card>
      </section>
      }
    </main>
  </div>
</books-scape-layout>
